pandas
numpy
sqlalchemy
scikit-learn
lightgbm
imbalanced-learn
optuna
joblib
matplotlib
seaborn
shap
fastapi
uvicorn
pydantic
pytest
pyyaml
plotly
streamlit
pillow
python-dotenv
mlflow
requests
pyyaml
kubernetes
docker
python-multipart